if SHIELD_DAC360LEFT

config ZMK_KEYBOARD_NAME
    default "Dac360"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DAC360LEFT || SHIELD_DAC360RIGHT

config ZMK_SPLIT
    default y

endif